@import '../../../globalStyles/variables';
@import '../../../globalStyles/functions';
@import '../../../globalStyles/mixins';

.genres-list{
    display: flex;
    margin: toRem(24) 0;
    justify-content: center;
    @include mdMinBreakPoint{
        justify-content: flex-start;
    }
}