@import '../../../globalStyles/variables';
@import '../../../globalStyles/functions';
@import '../../../globalStyles/mixins';


.tab{
    color: $gray100opacity60;
    font-size: toRem(16);
    padding: toRem(16);
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    position: relative;

    @include mdMinBreakPoint{
        padding: toRem(16);
    }

    &--selected{
        color: $white;

        .tab__selected-border{
            display: inline-block;
            height: 4px;
            background-color: white;
            width: 100%;
            position: absolute;
            bottom: -2px;
            left: 0px;
            border-radius: 4px;
        }
    }
}