@import '../../../globalStyles/variables';
@import '../../../globalStyles/functions';
@import '../../../globalStyles/mixins';


.tab{
    color: $gray100opacity60;
    font-size: toRem(16);
    padding: toRem(10);
    background-color: transparent;
    border-bottom: 1px solid $gray100opacity60;
    cursor: pointer;

    @include mdMinBreakPoint{
        padding: toRem(16);
    }

    &--selected{
        color: $white;
        padding: 1rem 1rem 0.9rem 1rem;
        border-bottom: toRem(4) solid  $white;
    }
}