@import '../../../globalStyles/variables';
@import '../../../globalStyles/functions';
@import '../../../globalStyles/mixins';

.movie-details-section{
    display: flex;
    margin-top: toRem(64);
    &__poster{
        width: toRem(272);
        height: toRem(420);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: toRem(8);
        flex-shrink: 0;
    }

    &-info{
        margin-left: toRem(32);
        margin-right: toRem(16);

        &__tagline{
            font-style: italic;

            img{
                width: toRem(24);
            }

            .close-quote{
                transform: rotate(180deg);
            }
        }

        &__description{
            line-height: toRem(27.2);
        }

        &-cast{
            p{
                margin-top: toRem(8);
                margin-bottom: toRem(8);
                line-height: toRem(27.2);
            }
            &__label{
                color: $gray100opacity60;
                margin-right: toRem(5);
            }
        }
    }
}