@import '../../../globalStyles/variables';
@import '../../../globalStyles/functions';
@import '../../../globalStyles/mixins';

.top-rated-section{
    margin-top: toRem(100);
    h1{
        color: $yellow;
        font-size: toRem(32);
    }
}