@import '../../../globalStyles/variables';
@import '../../../globalStyles/functions';
@import '../../../globalStyles/mixins';
.swiper{
    &-wrapper{
        position: relative;
    }
    &-navigation{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        width: calc(100vw - 32px);
        @include mdMinBreakPoint{
            width: calc(100vw - 140px);
        }

        &__next{
            background-color: $gray100opacity16;
            cursor: pointer;
            border-radius: toRem(8);
        }

        &__prev{
            background-color: $gray100opacity16;
            border-radius: toRem(8);
            cursor: pointer;
            svg{
                transform: rotate(180deg);

            }
        }

        .swiper-button-disabled{
            opacity: 0;
        }
    }
}