@import '../../../globalStyles/variables';
@import '../../../globalStyles/functions';

.movie-preview{
    width: fit-content;
    max-width: 171px;
    text-align: center;
    cursor: pointer;

    &__poster{
        height: toRem(258);
        width: toRem(171);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__image-container{
        position: relative;

        & > img{
            width: 100%;
        }

        &:hover{
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
        }

        &-overlay{
            width: 100%;
            height: toRem(258);
            position: absolute;
            top: 0;
            background-color: $blackopacity24;
        }

        .rating{
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &__title{
        line-height: toRem(22);
        margin-top: toRem(8);
    }
}