@import '../../../globalStyles/functions';
@import '../../../globalStyles/mixins';

.homepage{
	padding-left: toRem(16);
	max-width: 1950px;
    margin: 0 auto;
	
	@include mdMinBreakPoint{
		padding-left: toRem(80);
	}

	@include xlMinBreakPoint{
		padding-left: toRem(120);
	}
}